.form-overall{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    border: 1px solid red;
    padding-bottom: 2%;
    padding-top: 2%;
}
.form-header{
    text-align: left;
    background-color: gray;
    width: 100%;
    border: 1px solid blue;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 2%;
}
.form-body{
    border: 1px solid black;
    padding-bottom: 2%;
    padding-top: 2%;
}
.card-row{
    border: 1px solid green;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
}
.card-num{
    width: 60%;
    padding-left: 2%;
}
.cvc{
    width: 30%;
}
.amount{
    width: 40%;
}
.name-row{
    display: flex;
    padding-bottom: 1%;
}
.first-name{
    width: 50%;
    padding-left: 2%;
}
.last-name{
    width: 50%;
}
.address-row{
    display: flex;
    border: 1px dotted red;
    padding-bottom: 1%;
}
.city{
    width: 50%;
    padding-left: 2%;
}
.state{
    width: 25%;
}
.zipcode{
    width: 25%;
}
.footer-row{

}